h1{
  text-align: center;
  font-family: 'VT323', monospace;
  color: #9c0a0a;
  font-size: 130px;
  text-shadow: 7px 4px #5f8e28;
  letter-spacing: 20px;
  animation: fadeIn 3s infinite;
}

@keyframes fadeIn {
   0% {
     opacity: 0;
   }
   50%{
     opacity: 0.5;
   }
   100% {
     opacity: 1;
   }
}

section {
 height: 100vh;
 width: 100vw;
 position: fixed;
 background-image: url("./images/earth.gif");
 background-size: cover;
 background-color: black;
}

.intro {
 z-index: 1;
 width: 100%;
 height: 100%;
 position: absolute;
}

.game {
 z-index: 0;
 position: absolute;
 background-image: url("./images/giphy.gif");
 background-size: cover;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 margin: auto;
}

.circle {
  border-radius: 250px;
  width: 50%;
  height: 50%;
}

#blue{
  display: block;
  margin: 20px;
  border-radius: 50%;
  height: 130px;
  width: 130px;
  background: radial-gradient(circle at 50px 50px, #29abd2ab, #000);
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
      from {
          transform: rotate(0deg);
      } to {
          transform: rotate(360deg);
      }
  }

#blue:hover {
  height: 150px;
  width: 150px;
}

#green {
  display: block;
  margin-top: 167px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  background: radial-gradient(circle at 100px 100px, #6dec89bf, #000);
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}
#green:hover {
  height: 210px;
  width: 210px;
}

#yellow {
  display: block;
  margin-top: 75px;
  margin-right: 50px;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  background: radial-gradient(circle at 100px 100px, #e6b428f0, #000);
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#yellow:hover {
  height: 130px;
  width: 130px;
}

#red {
  display: block;
  margin-top: 500px;
  border-radius: 50%;
  height: 160px;
  width: 160px;
  background: radial-gradient(circle at 100px 75px, #e85765e3, #000);
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#red:hover {
  height: 170px;
  width: 170px;
}

.buttons{
  position: absolute;
  bottom: 70px;

}
button {
  font-family: 'Averia Libre', cursive;
  border: none;
  color: #d2ad78;
  padding: 8px 10px;
  font-size: 16px;
  margin-top:507px;
  margin-right: 10px;
  border-radius: 30%;
  height: 50px;
  width: 60px;
  background: radial-gradient(circle at 100px 0.5px, #ff9800f7, #000);
}
button:hover {
  height: 60px;
  width: 70px;
}

p{
  color: white;
  font-size: 40px;
  margin-top: 100px;
  text-align: center;
  position: relative;
  font-family: 'Averia Libre', cursive;
  text-shadow: 7px 4px #7b7171;
}
p:hover {
  font-size: 50px;
}
.gameover{
  color:white;
  margin: auto;
  border-radius: 50%;
  height: 600px;
  width: 600px;
  background: radial-gradient(circle at 100px 75px, #e2d1d245, #00000030);
  padding: 30px;
}
.gameover:hover {
  height: 700px;
  width: 700px;
}

h2{
  font-size: 50px;
  text-align: center;
  padding: 32px;
  font-family: 'VT323', monospace;
  text-shadow: 3px 3px #7b7171;
  letter-spacing: 14px;
  margin-top: 130px;
  font-size: 80px;
}

h3{
  font-size: 35px;
  text-align: center;
  padding: 30px;
  font-family: 'VT323', monospace;
  text-shadow: 3px 3px #7b7171;
  letter-spacing: 10px;
  margin-top: 120px;
}

h2.instruction{
  text-align: center;
  color: #b5b1b1fc;
  font-size: 28px;
  line-height: 45px;
  font-family: 'Averia Libre', cursive;
  padding: 20px;
  margin-left: 205px;
  margin-right: 205px;
  margin-top: 90px; 
  letter-spacing: 5px;
  text-shadow: none;
}

h4{
  font-size: 40px;
  text-align: center;
  padding: 30px;
  font-family: 'VT323', monospace;
  text-shadow: 3px 3px #7b7171;
  letter-spacing: 10px;
}
.slogan{
  font-size: 45px;
  color: #f3e14a;
  ext-shadow: 3px 3px #5114bd;
  margin-top: -50px;
}
