.main {
  display: flex;
  flex-wrap: wrap;
  width: 35vw;
  height: 35vw;
  justify-content: space-around;
}

.square {
  /* color: black;
  border-radius: 10px;
  border: solid #d3d3d3 0.5px;
  font-family: 'Orbitron', sans-serif; */
  width: 15vw;
  height: 15vw;
  /* text-align: center; */
  font-size: 115px;
  /* background-color: white; */
}
#blue{
  background-color: #8CBED6;
  /* display: inline-block;
  /* float: left; */
  /* margin: 0;
  padding: 0;
  width: 150px;
  height: 150px;

  border-radius: 10px;
  border: solid #d3d3d3 0.5px;
  text-align: center;
  font-size: 115px; */
}
#grey{
  background-color:grey;
  /* display: inline-block;
  /* float: left; */
  /* margin: 0;
  padding: 0;
  width: 150px;
  height: 150px;

  border-radius: 10px;
  border: solid #d3d3d3 0.5px;
  text-align: center;
  font-size: 115px; */ */
}
#pink{
  background-color: #de7075;
  /* display: inline-block;
  /* float: left; */
  /* margin: 0;
  padding: 0;
  width: 150px;
  height: 150px; */
  /* border-radius: 10px; */
  /* border: solid #d3d3d3 0.5px; */
  /* text-align: center; */
  /* font-size: 115px; */ */
}
#purple{
  background-color: #cca2ce;
  /* display: inline-block;
  /* float: left; */
  /* margin: 0; */
  /* padding: 0; */
  /* width: 150px; */
  /* height: 150px; */
  /* border-radius: 10px;
  border: solid #d3d3d3 0.5px;
  text-align: center;
  font-size: 115px; */ */
}
