body{
  background-color: #B5E888;
}
h1{
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: #E8712F;
  font-weight: bold;
  font-size: 55px;
  letter-spacing: 9px;
}


.main {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  justify-content: space-around;
  margin: auto;
}

.circle {
  border-radius: 250px;
  width: 50%;
  height: 50%;
  font-size: 115px;
}
#blue{
  background-color: #8CBED6;
  border-top-left-radius: 100%;

}
#grey{
  background-color:#808080;
  border-top-right-radius: 100%;

}
#pink{
  background-color: #de7075;
  border-bottom-left-radius: 100%;

}
#purple{
  background-color: #cca2ce;
  border-bottom-right-radius: 100%;

}
button {
  font-family: 'Space Mono', monospace;
  border: none;
  background-color: #4c4c4c;
  color: white;
  padding: 8px 10px;
  font-size: 14px;
  border-radius: 4px;
  /* cursor: pointer;
  outline: none; */
  margin-top:20px;
}
